body {
    font-family: 'Poppins', sans-serif;
}

.first {
    display: flex;
}

.first-child {

    width: 100%;
    margin-left: 0%;
    padding: 3%;
}

.first-child1 {
    margin-top: 70px;
    margin-left: 3%;
}

.first-child img {
    width: 90%;
}

#tcolor {
    color: #1f75fe;
}

.fcp {
    color: #575757;
    font-size: 20px;
    font-weight: 600px;
}

#mts {
    font-size: 70px;
    font-weight: bold;
    color: #575757;

}

.fcl {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(#1f75fe, #1dacd6);
    border-radius: 20px;
    padding: 10px 25px;

}

#fcl:hover {

    background-image: linear-gradient(#1dacd6, #1f75fe);
}

.new-add {
    margin-top: 80px;
}

.h1s {
    color: gray;
}

#second-sec {
    margin-left: 0px;
    margin: 0px;
    padding: 0;
    width: 100%;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: none;
    background-size: contain;
    background-position: left;
    display: fleax;
}

.s3f {
    text-align: center;
}

.s3r2 {
    display: flex;
    padding: 2%;
    height: 650px;
}

.s3r2div {
    padding: 5%;
    text-align: justify;
    margin-left: 2%;
    background-color: whitesmoke;
    border-radius: 20px;
}

.s3r2div img {

    width: 600px;
    height: 300px;
    border-radius: 20px;
}
