body {
    font-family: 'Poppins', sans-serif;
}

.first {
    display: flex;
}

.first-child {

    width: 100%;
    margin-left: 0%;
    padding: 3%;
}

.first-child1 {
    margin-top: 70px;
    margin-left: 3%;
}

.first-child img {
    width: 90%;
    margin-left: 0;
}

#tcolor {
    color: #1f75fe;
}

#fcp {
    color: #575757;
    font-size: 20px;
    font-weight: 600px;
}

#mts {
    font-size: 70px;
    font-weight: bold;
    color: #575757;

}

#fcl {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(#1f75fe, #1dacd6);
    border-radius: 20px;
    padding: 10px 25px;

}

#fcl:hover {

    background-image: linear-gradient(#1dacd6, #1f75fe);
    transform: scale(none);
}